@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  background: url("images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  width: 100vw;
  height: 280px;
}

h1 {
  position: relative;
  color: #fff;
  text-align: center;
  margin-top: 1.031em;
  margin-bottom: .969em;
  font-size: 2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.286px;
}

form {
  position: relative;
  width: 555px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}

#text {
  width: 555px;
  height: 58px;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 1em 12em 1.063em 1.375em;
  color: #2c2c2c;
  font-size: 1.125rem;
  font-family: Rubik;
  outline: none;
}

#submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  background-color: #000;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#submit:hover {
  background-color: #3f3f3f;
}

.container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  width: 100vw;
  max-width: 1110px;
  min-width: 953px;
  height: 161px;
  background-color: #fff;
  margin: 48px auto;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}

.ip,
.location,
.timezone,
.isp {
  width: 277px;
  margin-top: 2em;
  padding: 0 2em 0 2em;
}

.line {
  align-self: center;
  width: 1px;
  height: 75px;
  background-color: #000;
  opacity: 0.15000000596046448;
}

p.title {
  color: #2c2c2c;
  font-size: .75rem;
  font-family: Rubik;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  opacity: 0.4986979067325592;
  margin-bottom: 1.063em;
  margin-top: 0;
}

.info {
  color: #2c2c2c;
  font-size: 1.625rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.232px;
  margin: 0;
}

#map {
  position: absolute;
  bottom: 0;
  width: 100vw;
  /* In this calc function I've substracted the height of the background image
   from the height of the screen that is viewed*/
  height: calc(100vh - 280px);
}

.leaflet-top .leaflet-control {
  margin-top: 16.7em;
  font-weight: 200;
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

@media (max-width: 952px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    background: url("images/pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    width: 100vw;
    height: 300px;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 1.115em;
    font-size: 1.625rem;
    letter-spacing: -0.232px;
  }

  form {
    width: 327px;
    height: 58px;
  }

  #text {
    width: 327px;
    height: 58px;
    padding: 1.29em 4.188em 1.357em 1.714em;
    font-size: .875rem;
  }

  .container {
    flex-direction: column;
    max-width: 327px;
    min-width: 320px;
    height: 294px;
    margin: 1.5em auto;
  }

  .ip,
  .location,
  .timezone,
  .isp {
    text-align: center;
    width: 279px;
    margin-top: 1.5em;
  }

  .ip {
    margin-top: 1.625em;
  }

  .line {
    display: none;
  }

  p.title {
    color: #2c2c2c;
    font-size: .625rem;
    letter-spacing: 1.458px;
    margin-bottom: .7008em;
  }

  .info {
    color: #2c2c2c;
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: -0.179px;
  }

  #map {
    /* In this calc function I've substracted the height of the background image
     from the height of the screen that is viewed*/
    height: calc(100vh - 300px);
  }
}
