@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-image: url("images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  position: relative;
  color: #fff;
  text-align: center;
  margin-top: 33px;
  font-size: 32px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.286px;
}

form {
  position: relative;
  width: 555px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}

#text {
  width: 555px;
  height: 58px;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 18px 232px 19px 24px;
  color: #2c2c2c;
  font-size: 18px;
  font-family: Rubik;
  outline: none;
}

#submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  background-color: #000;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  width: 1110px;
  height: 161px;
  background-color: #fff;
  margin: 48px auto;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}

.ip,
.location,
.timezone,
.isp {
  width: 277px;
  margin-top: 32px;
  padding: 0 32px 0 32px;
}

.isp p.info {
  padding-right: 50%;
}

.line {
  align-self: center;
  width: 1px;
  height: 75px;
  background-color: #000;
  opacity: 0.15000000596046448;
}

p.title {
  color: #2c2c2c;
  font-size: 12px;
  font-family: Rubik;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  opacity: 0.4986979067325592;
  margin-bottom: 13px;
  margin-top: 0;
}

.info {
  color: #2c2c2c;
  font-size: 26px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.232px;
  margin: 0;
}

#map {
  position: absolute;
  top: 37%;
  width: 100vw;
  height: 70vh;
}
